* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	--soft-red: hsl(14, 88%, 65%);
	--dark-blue: hsl(238, 29%, 16%);
	--very-dark-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	--light-grayish-blue: hsl(240, 5%, 91%);
}

body {
	background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
	height: 100vh;
	font-size: 12px;
	font-family: 'Kumbh Sans', sans-serif;
	margin: 0 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 100%;
	height: 75vh;
	background-color: #fff;
	border-radius: 10px;
	padding: 4rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	margin-bottom: 1rem;
	display: flex;
}

.image-container {
	width: 50%;
}

.woman {
	position: relative;
	bottom: 200px;
	right: 145px;
}

.box {
	position: relative;
	top: 117px;
	z-index: 10;
	right: 157px;
}

.content {
	width: 50%;
}

.question-container {
	display: flex;
	padding: 0 0 1rem 0;
	margin: 1rem 0 0 0;
	border-bottom: 1px solid var(--light-grayish-blue);
}

.arrow {
	border: none;
	background: #fff;
	margin-left: auto;
}

.answer {
	display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
