:root {
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	--soft-red: hsl(14, 88%, 65%);
	--dark-blue: hsl(238, 29%, 16%);
	--very-dark-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	--light-grayish-blue: hsl(240, 5%, 91%);
	--fontSize: 12px;
}

* {
	box-sizing: border-box;
}

html {
	font-size: var(--fontSize);
}

body {
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	display: grid;
	justify-content: center;
	align-content: center;
}

.wrapper {
	background: #fff;
	border-radius: 30px;
	height: 509px;
	width: 920px;
	display: grid;
	gap: 6rem;
	grid-template-columns: 400px 1fr;
	background-image: url('./images/bg-pattern-desktop.svg');
	background-repeat: no-repeat;
	background-position: 1260% 65%;
}

.answer {
	display: none;
}

.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--darkGrayBlue);
}

.active img{
  transform: rotate(180deg);
  transition: all .3s ease-in;
}

.active h3 {
  font-weight: 700;
}

.accordion__wrapper {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
}

.accordion_questions {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.question_answer__accordion {
	width: 350px;
	border-bottom: 1px solid #e8e8e8;
}

.title_accordion {
  font-size: 3rem;
  margin-top: 0px;
}

.question_title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.4rem 0rem;
  color: (var(--very-dark-blue));
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s
}

.question:hover {
  color: var(--soft-red);
}

.question img {
  align-self: center;
}

.image_wrapper {
  position: relative;
}

.image__wrapper__inner {
  background: url(/images/illustration-woman-online-desktop.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}

.box {
    position: relative;
    bottom: 311px;
    right: 93px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
